h2{color:limegreen ;}
h1{color: limegreen;}
body{font-family:georgia;
font-size: 18px}
p{text-align:justify;}
body {
   background:url("images.jpg") no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-origin: content-box, padding-box;
}